<div id="container">

    <h1>Secrets Dashboard</h1>

    <table>
            <tbody>
                <% @secrets.each do |secret| %>
                    <tr>
                        <td> 
                            <%= secret.content %> 
                        </td>
                        <td> 
                            <% if session[:user_id] == secret.user_id %>
                                <a class="btn_del" href="/secrets/<%= secret.id %>/destroy">Delete</a>
                            <% end %>    
                        </td>
                    </tr>
                    <tr>
                        <td class="like">
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= @count %> likes &nbsp &nbsp &nbsp
                            <% @likes.each do |like| %>
                                <% if true %>
                                    <form action="/likes/create" method="post">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                        <input type="hidden" name="user_id" value="secret.user_id">
                                        <input type="hidden" name="secret_id" value="secret.id">
                                        <input type="submit" class="btn_like" value="Like">
                                    </form>
                                <% elsif  session[:user_id] == like.user_id %>
                                    <a class="btn_like" href='likes/<%= like.id %>/destroy'> Unlike </a>
                                <% end %>
                            <% end %>        
                        </td>   
                    </tr>    
                <% end %>
            </tbody>        
        </table>  




</div>