<div id="container">

<p><a href="/users/<%= session[:user_id] %>">My Dashboard</a></p>

    <h1>Secrets Dashboard</h1>
    
    
    <table>
            <tbody>
                <% @secrets_wlikes.each do |secret_wlike| %>
                    <tr>
                        <td> 
                        &#9824 <%= secret_wlike[:secretx].content %> 
                        </td>
                        
                    </tr>
                    <tr>
                        <td class ="like">
                            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <%= secret_wlike[:likes_count] %> likes 
                            <% if secret_wlike[:is_liked] %>
                                <a class="btn_unlike" href="/likes/<%= session[:user_id] %>/<%= secret_wlike[:secretx].id %>/destroy"> Unlike </a>
                            <% else %>
                                <form action="/likes/create" method="post" class="inln">
                                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
                                    <input type="hidden" name="secret_id" value="<%= secret_wlike[:secretx].id %>">
                                    <input type="submit" class="btn_like" value="Like">
                                </form>
                            <% end %> 
                            <% if session[:user_id] == secret_wlike[:secretx].user_id %>
                                <a class="btn_del" href="/secrets/<%= secret_wlike[:secretx].id %>/destroy">Delete</a>
                            <% end %>    
                        </td>
                    </tr>    
                <% end %>
            </tbody>        
        </table>  




</div>